@import 'main';

.navbar{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    height: 80px;
    width: 100%;
    padding :10px;
}
.navlogo{
    height: 20px;
    display: flex;
    width: 50%;

}
.navlist{
    display: flex;
    margin-left: 200px;
    gap:50px;
    padding:20px;
    
 }
